/*VARIABLES*/
:root {
  --White: hsl(0, 0%, 100%);
  --lightPink: hsl(276, 71%, 95%);
  --hoverState: #8e3fba;
  --grayishPurple: hsl(290, 11%, 33%);
  --paragraph: hsl(291, 16%, 63%);
  --darkPurple: hsl(292, 42%, 14%);
}

/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background: var(--lightPink);
  min-height: 100vh;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype"); /* Cambiado a "truetype" */
  font-weight: 400 600 700;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype"); /* Cambiado a "truetype" */
  font-weight: 400 600 700;
  font-style: italic;
}

.container {
  min-width: 20rem;
  width: 100%;
  height: max-content;
  position: relative;
}

header {
  min-width: 20rem;
  width: 100%;
  min-height: 14.5rem;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 48rem) {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-size: 100%;
    height: 20.125rem;
  }
}

main {
  width: 100%;
  height: 70%;
}

h4 {
  width: 75%;
}

.main-card {
  width: 90%;
  border-radius: 0.875rem;
  max-width: 25rem;
  padding: 1.25rem 0.9375rem;
  position: absolute;
  background: var(--White);
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px var(--lightPink);
  @media (min-width: 48rem) {
        top: 100px;
    padding: 2.5rem;
    max-width: 38rem;
  }
  @media (min-width: 56.25rem) {
    top: 120px;
  }
  @media (min-width: 64rem) {
    top: 160px;
  }
  @media (min-width: 75rem) {
    top: 185px;
  }
}

.card-top {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 1.875rem;
}

.card-top > h1 {
  font-size: xx-large;
  color: hsl(291, 56%, 26%);
  @media (min-width: 48rem) {
    font-size: 3rem;
  }
}

.card-top > img {
  width: 1.5rem;
  @media (min-width: 48rem) {
    width: 2rem;
  }
}

.q-a-sec {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  @media (min-width: 48rem) {
    gap: 3.75rem;
  }
}

.q-a-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-container__s2-details {
  position: relative;
}

.question-container__s2-summary {
  width: 75%;
  font-weight: 800;
  color: var(--grayishPurple);
  @media (min-width: 48rem) {
    width: 100%;
    font-size: 1.1rem;
  }
}

.question-container__s2-summary:hover{
  color: var(--hoverState);
  cursor: pointer;
}

.question-container__s2-details-icon {
  position: absolute;
  width: 30px;
  right: 0;
  top: -3px;
  cursor: pointer;
}

#minus{
  display: none;
}

.answer {
  padding-top: 1.25rem;
  color: var(--paragraph);
  line-height: 1.5;
  @media (min-width: 48rem) {
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
