/*VARIABLES*/
:root {
  --White: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
}

/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background: var(--lightPink);
  min-height: 100vh;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype"); /* Cambiado a "truetype" */
  font-weight: 400 600 700;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype"); /* Cambiado a "truetype" */
  font-weight: 400 600 700;
  font-style: italic;
}

.container{
  min-width: 20rem;
  width: 100%;
  height: max-content;
  max-width: 47.9375rem;
  position: relative;
}

header {
  min-width: 20rem;
  width: 100%;
  min-height: 14.5rem;
  height: 30%;
  max-width: 47.9375rem;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 26.625rem) {
    background-image: url(
      ./assets/images/background-pattern-desktop.svg);
  }
}

main{
  width: 100%;
  height: 70%;
}

h4 {
  width: 75%;
}

.main-card{
  border: 1px solid #000;
  width: 90%;
  border-radius: .5rem;
  padding: 1.25rem .9375rem;
  position: absolute;
  background: var(--White);
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.card-top{
  border: 1px solid #000;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 1.875rem;
}

.card-top > h1{
  font-size: xx-large;
}

.card-top > img {
  width: 1.5rem;
}

.q-a-sec{
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.q-a-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
